<footer role="primary">
	<section class="copyright">
		<p>Copyright 2014</p>
	</section>
	<section class="menu">
		<nav>
			<a href="#">Past</a>
			<a href="ghost/">Present</a>
			<a href="#">Future</a>
		</nav>
	</section>
</footer>
