<header role="primary">
	<div class="wrap">
		<section class="title">
			<h1>{{@blog.title}} <small class="tiny">{{@blog.description}}</small></h1>
		</section>
		<section class="logo">
			<figure class="align-center">
				<img src="http://placehold.it/250x250" alt="Image">
				<figcaption>Caption</figcaption>
			</figure>
		</section>
	</div>
</header>
